<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<!-- 🍉layout:decorate 현재 페이지를 레이아웃으로 꾸미겠다
        / 컨텍스트는 루트 경로
        /layout.html 파일을 찾아서 레이아웃으로 사용하겠다.-->
<head>
    <meta charset="UTF-8">
    <title>게시판 리스트</title>
    <script src="/public/js/BoardLike.js" defer></script>
</head>
<div layout:fragment="content">
    <h1 class="my-4">게시판 리스트</h1>
    <nav aria-label="Page navigation example">
        <form action="" style="width: 450px;" class="mx-auto">
            <div class="input-group">
                <label class="input-group-text bi bi-list-columns">정렬</label>
                <select name="order" class="form-control">
                    <!-- param : 파라미터 의미 -->
                    <option value="">칼럼</option>
                    <option th:selected="(${#strings.equals(param.order,'b_id')})" value="b_id">글번호</option>
                    <option th:selected="(${#strings.equals(param.order,'u_id')})" value="u_id">글쓴이</option>
                    <option th:selected="(${#strings.equals(param.order,'post_time')})" value="post_time">작성일</option>
                    <option th:selected="(${#strings.equals(param.order,'update_time')})" value="update_time">수정일</option>
                    <option th:selected="(${#strings.equals(param.order,'title')})" value="title">제목</option>
                    <option th:selected="(${#strings.equals(param.order,'view_count')})" value="view_count">조회수</option>
                </select>
                <select name="direct" class="form-control">
                    <option value="">방향</option>
                    <option th:selected="(${#strings.equals(param.direct,'DESC')})" value="DESC">내림차순
                    <option th:selected="(${#strings.equals(param.direct,'ASC')})" value="ASC">오름차순
                </select>
                <button class="btn btn-primary">정렬</button>
            </div>

            <div class="input-group my-3">
                <label class="input-group-text bi bi-search">정렬</label>
                <select name="searchField" class="form-control">
                    <!-- param : 파라미터 의미 -->
                    <option value="">칼럼</option>
                    <option th:selected="(${#strings.equals(param.searchField,'b_id')})" value="b_id">글번호</option>
                    <option th:selected="(${#strings.equals(param.searchField,'u_id')})" value="u_id">글쓴이</option>
                    <option th:selected="(${#strings.equals(param.searchField,'post_time')})" value="post_time">작성일</option>
                    <option th:selected="(${#strings.equals(param.searchField,'update_time')})" value="update_time">수정일</option>
                    <option th:selected="(${#strings.equals(param.searchField,'title')})" value="title">제목</option>
                    <option th:selected="(${#strings.equals(param.searchField,'content')})" value="content">내용</option>
                </select>
                <input type="text" class="form-control" name="searchValue" placeholder="검색어 입력"
                        th:value="${param.searchValue}">
                <button class="btn btn-primary">검색</button>
            </div>
        </form>
        <th:block th:include="/pageNav.html"></th:block>
    </nav>

<!--    <p th:text="${page}"></p>-->
  <!-- 🍉게시글 좋아요 ajax -->
<!--    <p th:text="${boards}"></p>--> <!-- 게시글 불러와지는지 체크 (컨트롤러에서 boards 객체를 보냄)-->
    <section id="boardListCont" class="row row-cols-lg-2 row-cols-1 g-5"> <!-- g : 요소간의 간격 --> <!-- md 사이즈일때만, 그리드의 비율을 3개로 / row-cols-1 : 스몰사이즈일때 -->
        <th:block th:include="/board/includeList.html"></th:block>
    </section>
</div>
</html>