<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:include="headerNav.html"></header>
    <main class="container mx-auto" style="width: 450px;">
        <h1 class="my-4">유저상세</h1>
        <p>아이디 : <strong th:text="${user.uId}"></strong></p>
        <p>이름 : <strong th:text="${user.name}"></strong></p>
        <p>핸드폰 : <strong th:text="${user.phone}"></strong></p>
        <p>프로필 : <img class="img-thumbnail" style="width: 100px;" src="${user.imgPath}" ></strong></p>
        <p>이메일 : <strong th:text="${user.email}"></strong></p>
        <p>가입일 : <strong th:text="${user.postTime}"></strong></p>
        <p>생일 : <strong th:text="${user.birth}"></strong></p>
        <p>주소 : <strong th:text="${user.address}"></strong></p>
        <p>주소상세 <strong th:text="${user.detailAddress}"></strong></p>
        <p>등급(상태) <strong th:text="${user.permission}"></strong></p>
        <a class="btn btn-outline-primary" th:href="@{'/user/{uId}/update.do'(uId=${user.getUId()})}">수정폼</a>
    </main>
</body>
</html>