<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--  🍏확장자가 html 이고, html 처럼 보이지만 tymeleaf 동적페이지(서버사이드)
      태그의 속성으로 th 가 있으면 실행 후 렌더링 (타임리프 - 속성으로 동작한다)
      xmlns:th="" 타임리프 자동완성
-->
<body>
    <!-- th include 로 html 불러오기 -->
  <header th:include="/headerNav"></header> <!-- .html 생략가능 // "/" 최상위 , loginForm 이 속한 /templates 폴더 경로  -->
    <main>
        <div>
            <form class="mx-auto" action="/user/login.do" method="post" style="width:450px;">
                <h1 class="my-4">로그인 폼</h1>
                <p class="form-floating">
                    <input type="text" name="uId" value="user01" class="form-control" placeholder="??"> <!-- name = u_id, uId 상관없음 -->
                    <label>아이디</label> <!-- placeholer 안에 라벨이 들어오는거라서 꼭 placeholder 지정해야한다. -->
                </p>
                <p class="form-floating">
                    <input type="password" name="pw" value="1234" class="form-control" placeholder="??">
                    <label>패스워드</label>
                </p>
                <p class="form-check">
                    <input type="checkbox" value="1" name="autoLogin" id="autoLogin" class="form-check-input">
                    <label for="autoLogin" class="form-check-label">
                        일주일 자동로그인
                    </label>
                </p>
                <p class="text-end">
                    <a class="btn btn-info" href="/user/signup.do">회원가입</a>
                    <button class="btn btn-primary">로그인</button> <!-- submit 타입(기본)/ 폼 제출! // 페이로드 : 데이터전송 : input 에 입력한 값이 넘어온다! -->
                </p>

            </form>
        </div>
    </main>
</body>
</html></html>