<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- static 폴더 안에 bootstrap 폴더 // bundle : 외부 라이브러리 포함 -->
<!--<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"> -->
<!--<script src="/bootstrap/js/bootstrap.bundle.js"></script>-->
<!-- 🍒control + space bar : 경로 자동완성 -->
<!-- webjars : 외부라이브러리로 bootstrap 라이브러리 추가 -->
<style>
    #tagListCont .list-group-item:hover { /* hover 됬을때 */
        background-color: #31363b !important;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/board/list.do">게시판</a> <!-- 동적페이지 경로설정(/board/ 는 가상경로) -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board/register.do">
                        게시글 등록
                        <i class="bi bi-plus-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat/room/list.do">
                        채팅방
                        <i class="bi bi-chat"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <!--열리는 타겟 - href="#offcanvasSearch" // 버튼 아니고 메뉴인것처럼 nav-link -->
                    <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasSearch" role="button" aria-controls="offcanvasExample">
                        해시태그 검색
                        <i class="bi bi-search"></i>
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="breadcrumb">
                    <!--          <th:> th 블럭. 구분자, 중괄호 같은 // ${ } : 변수 표시 -->
                    <th:block th:if="${session.loginUser==null}"> <!-- 로그인 X / 세션의 로그인유저가 null 이면 -->
                        <li>
                            <a class="nav-link" href="/user/login.do">로그인</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/user/signup.do">회원가입</a>
                        </li>
                    </th:block>
                    <th:block th:if="${session.loginUser!=null}"> <!-- 로그인 했을때 / 세션의 로그인유저가 null 아니면 -->
                        <li class="breadcrumb-item">
                            <!-- 타임리프 주소 th:href 는 무조건 @{ } // 파라미터 영역 ( ) // 변수찾기 ${  } -->
                            <!-- 🍒th:href (파라미터를 생성해주는 속성, url 을 만들어주는 것)가 인코딩도 해주고 파라미터도 받아준다 -->
                            <!-- 🍒${} 쓰는 이유. url 인코딩은 한글이 깨진다.  -->
                            <!-- <a class="nav-link" th:href="@{'/user/detail.do'(uId=${session.loginUser.uId})}"> -->
                            <!--  =>?uId=${ } (🍒UTF-8 인코딩(한글깨짐 X))  => http://localhost:8080/user/detail.do?uId=user01 -->
                            <!-- <a class="nav-link" th:href="@{'/user/detail.do'(uId='경민')}"> -->
                            <!--  => ?uId='경민' (🍒url 인코딩(한글깨짐 현상)) => http://localhost:8080/user/detail.do?uId=%EA%B2%BD%EB%AF%BC -->

                             <a class="nav-link" th:href="@{'/user/{uId}/detail.do'(uId=${session.loginUser.uId})}">
                            <!-- 🍏pathVariable : detail.do 페이지에 꼭 파라미터가 필요한 경우 경로에 파라미터를 보내는 것 -->
                            <!-- => {uId} 에  ${session.loginUser.uId} 파라미터가 들어간다. -->
                            <!-- http://localhost:8080/user/user01/detail.do -->
                            <span th:text="${session.loginUser.uId}"></span> <!-- 타임리프가 get 을 생략해준다. GetUId 를  -->
                            (<span th:text="${session.loginUser.name}"></span>)
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/user/logout.do">/ 로그아웃</a>
                        </li>
                    </th:block>
                </ul>
            </div>

        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">해시태그 검색</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="input-group">
            <label class="input-group-text bg-dark text-white">
                <i class="bi bi-hash"></i>
            </label>
            <!-- 검색창 -->
            <input type="text" id="searchTagInput" class="form-control" placeholder="해시태그">
        </div>
        <hr>
        <!-- 검색한 해시태그 리스트 -->
        <div id="tagListCont" class="list-group">
        <!-- 해시태그 리스트를 넣는다 (html 을 컨포넌트화 tagListComponent) => -->
        </div>
    </div>
</div>




<script>
    function tagListComponent(tagObj){ // tagObj : {"tag":"홍대","bCnt":8}
        // html 을 컨포넌트화
        return `
        <!--         태그로 조회하는 리스트 -->
            <a href="/board/${tagObj.tag}/tagList.do" class="list-group-item text-bg-dark d-flex align-items-center">
                <i class="bi bi-hash border rounded-circle fs-2 d-flex justify-content-center align-items-center" style="width:45px; height: 45px;"></i> <!-- 동그라미 효과 - border rounded-circle // 동그라미 늘어남 없애기(d-flex) align-items-center -->
                <div class="ms-3">
                    <div>
                        <i class="bi bi-hash"></i> <!-- 해시태그 아이콘 -->
                        <span>${tagObj.tag}</span> <!-- 받아와서 출력 -->
                    </div>
                    <div class="text-white text-opacity-75">
                        <small>게시물</small>
                        <small>${tagObj.bCnt}</small>
                    </div>
                </div>
            </a>
        `;
    }
    const searchTagInput=document.getElementById("searchTagInput");
    const tagListCont=document.getElementById("tagListCont");
    searchTagInput.addEventListener("input",async (e)=>{ // input 이벤트가 발생하면 이벤트를 발생하겠다~!
        let tag=searchTagInput.value; // 입력한 값
        if(tag.length>0){
            const tags=await searchTags(tag);
            // console.log(tags);
            if(tags){ // tags 가 있으면
                tagListCont.innerHTML=""; // 검색리스트를 초기화 하면서 추가하기~!
                for(const tagObj of tags){ // == 자바 for ( : )
                    tagListCont.insertAdjacentHTML("beforeend", tagListComponent(tagObj)); // tagListCont 태그 안에 해시태그 리스트를 담는다.
                    // tags => [{"tag":"홍대","bCnt":8},{"tag":"홍대놀이터","bCnt":1},{"tag":"홍대맛집","bCnt":2},{"tag":"홍대애견","bCnt":0},{"tag":"홍대입구","bCnt":0},{"tag":"홍대카페","bCnt":0}]
                }
            }
        }
    });
    async function searchTags(tag){
        let url=`/hashtag/${tag}/search.do`
        const resp=await fetch(url);
        if(resp.status===200){
            return await resp.json(); // json 응답을 반환 {"tag": "홍대", "bCnt": "10"} key는 value 로 값을 가져오기 위해서
            // 🍒resp.json()은 HTTP 응답 객체에서 JSON 데이터를 추출하여 JavaScript 객체로 변환
        }
    }

</script>

<th:block th:if="${msg!=null || session.msg!=null}"> <!-- msg 메세지가 있으면 (null 이 아니면) -->
    <div id="actionModal" class="modal" tabindex="-1"> <!-- 자바스크립트에서 modal 을 찾기위해 id 값을 준다.(모달창 안떠서) -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">액션 메세지</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="${msg}"></p>
                    <p th:text="${session.msg}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 타임리프 문서에서 session 을 삭제할 수 없다. -->
    <script th:inline="javascript">
        /*  session.removeAttribute("msg")  // 원래는 됬는데 버전이 바뀌면서 안되는거(타임리프에서 세션객체 삭제(사용후 지우기)할수없다)*/
        const actionModal=document.getElementById("actionModal");
        // 부트스트랩 객체 생성시 모달창 띄우기( show() )
        new bootstrap.Modal(actionModal).show();
    </script>



    <!-- 🍏모달창  -->
<!--    <script th:inline="javascript"> &lt;!&ndash; th 안에 자바스크립트를 사용하는 방법! &ndash;&gt;-->
<!--    alert(`[[${msg}]]`) //  세션을 이용한 모달 창 띄우는 방법-->
<!--    </script>-->
</th:block>
</html>